# Auswertung des FID Surveys 2020
Basierend auf der version 09.01.2021, Jungbauer-Gans

In [8]:
import pandas as pd
from IPython.display import display, HTML

In [3]:
df = pd.read_stata("fid_data_miss.dta")

In [4]:
print('Eingegangene Antworten: {}'.format(df.shape[0]))

Eingegangene Antworten: 65

In [5]:
df = df[df['finished']==True]
n = df.shape[0]

print('Auswertbare Antworten: {}'.format(n))

Auswertbare Antworten: 59

Insgesamt wurden 135 Personen zur Befragung eingeladen zwischen 13.11. und 16.12.2020. Davon 65 Antworten sind eingegagen, wobei 6 Befragte keine Angaben gemacht haben. Bei den meisten Fragen gibt es daher 59 auswertbare Angaben.

## An werlcher Art von Einrichtung sind Sie tätig? (Mehrfachantworten)

In [38]:
d1 = df[['v1_1', 'v1_2', 'v1_3', 'v1_4']].apply(pd.value_counts).loc['[1] Ja']

df1 = pd.DataFrame([['Hochschule', d1['v1_1'], d1['v1_1'] / n * 100], 
                    ['Außeruniversitäre Forschungseinrichtung', d1['v1_2'], d1['v1_2'] / n * 100],
                    ['Öffentliche Einrichtung bzw. Verwaltung', d1['v1_3'], d1['v1_3'] / n * 100],
                    ['Intermediäre Einrichtung, Stiftung, Förderorganisation, Interesseverband', d1['v1_4'], d1['v1_4'] / n * 100]], 
                   columns = ['Einrichtung', 'Anzahl', 'Anteil'])

df1 = df1.append({'Einrichtung':'Summe', 'Anzahl': df1['Anzahl'].sum(), 'Anteil': df1['Anteil'].sum()}, ignore_index=True)

display(HTML(df1.to_html()))

## Welche Art von Stelle/Affiliation haben Sie in Ihrer Enrichtung inne? Bei mehrfacher Affiliation bitte die wichtigste nennen.

In [63]:
d2 = df[['v2_1']].apply(pd.value_counts)

df2 = pd.DataFrame([['Professur', d2.loc['[1] Professur', 'v2_1'], d2.loc['[1] Professur', 'v2_1'] / n * 100],
                    ['Wissenschaftliche Mitarbeiter*innenstelle / Doktorand*in', d2.loc['[2] Wissenschaftliche Mitarbeiter*innenstelle / Doktorand*in', 'v2_1'], d2.loc['[2] Wissenschaftliche Mitarbeiter*innenstelle / Doktorand*in', 'v2_1'] / n * 100],
                    ['Wissenschaftliche Mitarbeiter*innenstelle / Postdoc', d2.loc['[3] Wissenschaftliche Mitarbeiter*innenstelle / Postdoc', 'v2_1'], d2.loc['[3] Wissenschaftliche Mitarbeiter*innenstelle / Postdoc', 'v2_1'] / n * 100],
                    ['Referent*in, Koordinator*in', d2.loc['[4] Referent*in, Koordinator*in', 'v2_1'], d2.loc['[4] Referent*in, Koordinator*in', 'v2_1'] / n * 100],
                    ['Stipendiat*in', d2.loc['[5] Stipendiat*in', 'v2_1'], d2.loc['[5] Stipendiat*in', 'v2_1'] / n * 100],
                    ['Gaststatus, Research Fellow, Privatdozentur ohne Anstellung etc.', d2.loc['[6] Gaststatus, Research Fellow, Privatdozentur ohne Anstellung etc.', 'v2_1'], d2.loc['[6] Gaststatus, Research Fellow, Privatdozentur ohne Anstellung etc.', 'v2_1'] / n * 100],
                    ['Sonstiges: bitte nennen', d2.loc['[7] Sonstiges: bitte nennen', 'v2_1'], d2.loc['[7] Sonstiges: bitte nennen', 'v2_1'] / n * 100]], 
                   columns = ['Stelle', 'Anzahl', 'Anteil'])

df2 = df2.append({'Stelle':'Summe', 'Anzahl': df2['Anzahl'].sum(), 'Anteil': df2['Anteil'].sum()}, ignore_index=True)

display(HTML(df2.to_html()))

Sonstiges, bitte nennen:

In [74]:
display(HTML((df[df['v2_2'] != '-9990']['v2_2'].to_frame().to_html())))